/* ================= FUNDO DO SITE ================= */

/* Estilo geral do body */
body {

    /* Cor de fundo do site */
    background-color: #460000;

    /* Fonte principal */
    font-family: cursive;

    /* Remove margem padrão */
    margin: 0;

    /* Remove espaçamento interno padrão */
    padding: 0;
}

/* ================= CABEÇALHO ================= */

header {

    /* Gradiente de cores */
    background: linear-gradient(to right,
            #460000);

    /* Espaçamento interno */
    padding: 0px 3px;

    /* Deixa elementos lado a lado */
    display: flex;

    /* Centraliza verticalmente */
    align-items: center;

    /* Espaço entre logo e menu */
    justify-content: space-between;

    /* Sombra embaixo */
    box-shadow: 0 1px 10px rgb(0, 0, 0);
}

/* ================= LOGO ================= */

.logo {

    /* Tamanho da logo */
    width: 210px;

    position: relative;

    /* Move visualmente a imagem. */
    top: center;

}

.logo:hover {

    transform: scale(1.3);

}

/* ================= MENU ================= */

nav a {

    /* Cor do texto */
    color: #fafafa;

    /* Remove sublinhado */
    text-decoration: none;

    /* Espaço entre links */
    margin-left: 25px;

    /* Tamanho da fonte */
    font-size: 18px;

    /* Deixa em negrito */
    font-weight: bold;

    /* Animação suave */
    transition: 0.4s;


}

/* ================= EFEITO HOVER ================= */

nav a:hover {

    /* Cor quando passa o mouse */
    color: #CD212A;
}

/* ================= CARROSSEL ================= */

.carousel-item img {

    /* Altura fixa das imagens */
    height: 800px;

    /* Faz imagem preencher sem distorcer */
    object-fit: cover;

    /* Linha verde embaixo */
    border-bottom: 3px solid #030303;

    margin-top: 5px;


}

/* Remove fundo azul do botão do carrossel */
.carousel-control-prev,
.carousel-control-next {
    background: transparent !important;
    border: none;
}

/* Remove efeito azul ao clicar */
.carousel-control-prev:focus,
.carousel-control-next:focus {
    box-shadow: none;
    outline: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    padding: 20px;
}

/* ================= TEXTO DO CARROSSEL ================= */

.carousel-caption {

    /* Fundo preto transparente */
    background: rgba(0, 0, 0, 0.5);

    /* Espaçamento interno */
    padding: 15px;

    /* Bordas arredondadas */
    border-radius: 10px;
}


.cardapio {

    margin-top: 5px;

    /* Serve para mexer no texto */
    text-align: center;

    font-size: 40px;

    color: white;
}


/* ================= ÁREA DOS PRODUTOS ================= */

.produtos {

    /* Coloca os cards lado a lado */
    display: flex;

    /* Permite quebrar linha */
    flex-wrap: wrap;

    /* Espaço entre cards */
    gap: 20px;

    /* Centraliza os cards */
    justify-content: center;

    /* Espaço interno */
    padding: 20px;
}

/* ================= CARD ================= */

.card {
    width: 18rem;

    /* Altura fixa total do card */
    height: 450px;

    display: flex;

    flex-direction: column;
}


/* ================= IMAGEM ================= */

.card img {

    height: 200px;

    object-fit: cover;

    width: 100%;
}

/* ================= CORPO DO CARD ================= */

.card-body {

    display: flex;

    flex-direction: column;

    /* Isso faz o corpo ocupar de forma inteligente o espaço que sobrou (250px) */
    flex-grow: 1;

    background-color: #e2bfc0;
}

/* ================= TEXTO ================= */

.card-text {

    /* Faz texto ocupar espaço */
    flex-grow: 1;
}

/* ================= BOTÃO ================= */

.card-body .btn {

    /* Faz botão ficar alinhado */
    margin-top: auto;
}


/* ================= RODAPE ================= */

.footer {
    background-color: #1c1c1c;
    color: #fff;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1100px;
    margin: auto;
}

.footer-box {
    flex: 1;
    min-width: 200px;
}

.footer-box h2,
.footer-box h3 {
    color: #ff4d4d;
    margin-bottom: 10px;
}

.footer-box p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #333;
    padding-top: 15px;
    font-size: 13px;
    color: #aaa;
}

.popup-toggle {
    display: none;
}

/* fundo escuro */
.popup {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: 0.3s;

    z-index: 99999; /* para ficar acima de todo o conteúdo */
}

/* quando clicar (abre popup) */
.popup-toggle:checked~.popup {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* caixa do popup */
.popup-box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    text-align: center;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* botão abrir */
.btn {
    display: inline-block; /* fica na mesma linha do texto */
    margin-top: 10px;
    cursor: pointer;
}

/* botão fechar */
.close {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background: red;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.comentarios {

    max-width: 400px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    text-align: center;
}

.avaliacao-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.stars {
    margin-bottom: 20px;
}

.stars span {
    font-size: 40px;
    cursor: pointer;
    color: #ccc;
    transition: 0.3s;
}

.stars span:hover,
.stars span.active {
    color: gold;
}

textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    resize: none;
    margin-bottom: 20px;
    font-size: 14px;
}

button {
    background: #0d6efd;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #0b5ed7;
}

/* ================= RESPONSIVIDADE CELULAR ================= */

@media (max-width: 768px) {

    /* HEADER */

    header {

        flex-direction: column;

        padding: 15px;

        text-align: center;
    }

    /* LOGO */

    .logo {

        width: 140px;

        top: 0;
    }

    /* MENU */

    nav {

        margin-top: 15px;
    }

    nav a {

        margin: 10px;

        font-size: 18px;

        display: inline-block;
    }

    /* CARROSSEL */

    .carousel-item img {

        height: 250px;
    }

    /* TEXTO DO CARROSSEL */

    .carousel-caption {

        padding: 8px;
    }

    .carousel-caption h5 {

        font-size: 16px;
    }

    .carousel-caption p {

        font-size: 12px;
    }

    /* TITULO */

    .cardapio {

        font-size: 28px;

        margin-top: 30px;
    }

    /* CARDS */

    .produtos {

        padding: 10px;

        gap: 15px;
    }

    .card {

        width: 100% !important;

        max-width: 320px;

        height: auto;
    }

    .card img {

        height: 200px;
    }

    /* POPUP */

    .popup-box {

        width: 90%;
    }

    /* FOOTER */

    .footer-container {

        flex-direction: column;

        text-align: center;
    }

    .footer-box {

        width: 100%;
    }

    /* TEXTAREA */

    textarea {

        width: 100%;
    }

}


/* ================= CARRINHO ================= */

.carrinho-box {

    position: fixed;

    top: 80px;

    right: 20px;

    width: 300px;

    background: white;

    padding: 20px;

    border-radius: 12px;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);

    display: none;

    z-index: 99999;
}

.carrinho-box h2 {

    margin-bottom: 15px;

    color: #000;
}

.carrinho-box ul {

    padding-left: 20px;
}

.carrinho-box li {

    margin-bottom: 10px;

    color: #000;
}

.carrinho-box li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrinho-box li button {
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px 8px;
}